@charset "UTF-8";
body {
    background-color: rgb(215, 215, 250);
}
div#main {
    display: block;
}
div.social {
    width: 200px;
    position: absolute;
    right: 10px;
}
nav {
    margin: auto;
}